.blocks{
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  button{
    &:nth-child(1){
      width: 500px;
      position: absolute;
      top: 350px;
      left: 20%;
    }
    &:nth-child(2){
      width: 250px;
      position: absolute;
      top: 50px;
      left: 20%;
    } 
    background: none;
    border: 0;
    img{
      width: 100%;
    }
  }
}